<div id="add-task" style="padding: 10px" ng-controller="addTaskController">
    <form ng-submit="addTask()">
        <div class="left" style="">
            <label class="h4">Task:</label>
            <input type="text" style="width: auto" class="form-control" ng-model="newTask.name"/>
        </div>
        <div class="left">
            <label class="h4">Priority:</label>
            <select class="form-control" ng-model="newTask.priority"
                    ng-options="priority as priority for priority in priorities()"
                    ng-init="selected=defaultPriority()"></select>
        </div>
        <div class="left">
            <label class="h4">End Date:</label>
            <div style="min-height:290px;">
                <datepicker ng-model="newTask.endDate" class="well well-sm"
                            custom-class="getDayClass(date, mode)"></datepicker>
            </div>
        </div>
        <div class="left">
            <button class="btn bg-primary" ng-disabled="!isNewTaskCorrect()" type="submit">+</button>
        </div>
    </form>
</div>